@font-face {
    font-family: inter;
    src: url(../fonts/inter.ttf);
}

@font-face {
    font-family: ingrid;
    src: url(../fonts/IngridDarling.ttf);
}

@font-face {
    font-family: nunito;
    src: url(../fonts/Nunito.ttf);
}
@font-face {
    font-family: playFair;
    src: url(../fonts/Playfair.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../fonts/Roboto.ttf);
}

@font-face {
    font-family: comforta;
    src: url(../fonts/Comforta.ttf);
}
body{
    background: #F5F5F5;
    margin: 1% 5%;
    padding: 0;
}
header{
    font-family: inter;
    margin-top: 50px;
}

#top_nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#logo{
    font-size: 20px;
    display: inline-block; 
    font-family: comforta;
}
    

nav ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex; 
}

 nav ul li {
    padding: 0 25px;
} 

a {
    text-decoration: none;
    color: black;
}

.active_page{
    text-decoration: underline;
}

a:hover {
    color: rgba(56, 106, 141, 1);
}

#logo a{
    text-decoration: none;
    font-size: 30px;
}

.main_headers{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: Playfair;
    padding: 45px;
    }


    .text_section{
        margin: 30px 200px 50px 2%;
        /* background-color: red; */
    }
    
    .text_section h2{
        font-size: 70px;
        font-family: Playfair;
    }
    
    .text_section h6{
        font-family: nunito;
        color: rgba(130, 130, 130, 1);
        font-size: 20px;
    }
    


.projects_sec .text_section{
    text-align: center;
    font-size: 45px;

}

.content_block{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
}


.content_block .left{
    height: 500px;
    width: 500px;
    background-color: rgba(255, 255, 255, 1);
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border: 2px solid #fff;

}
.left .text_section{
    display:inline-flexbox;
    justify-content: center;
    align-items: center;

    
}
.content_block .left h2{
    font-size: 30px;
    margin-left: 30%;
    white-space:inherit;
    width: 300px;


}

.content_block .left h6{
    padding-left: 10px;
    width: 450px;
    white-space:break-space;
}

.proj_button{
    height: 30px;
    width: 150px;
    border-radius: 50px;
    font-family: nunito;
    margin-top: 10%;
    margin-left: 35%;
    background-color: rgba(255, 255, 255, 1);
    border: 1px solid black;
    align-self: center;
    
}

.proj_button:hover{
    background-color: rgba(56, 106, 141, 1);
}
.content_block .right{
    height: 500px;
    width: 500px;
    background-color: red;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border: 2px solid #fff;
}

.content_block_reverse{
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content_block_reverse .left{
    height: 500px;
    width: 500px;
    background-color:red;
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;
    border: 2px solid #fff;

}

.content_block_reverse .right{
    height: 500px;
    width: 500px;
    background-color: rgba(255, 255, 255, 1);
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;
    border: 2px solid #fff;
}


.content_block_reverse .right .text_section{
    display:inline-flexbox;
    justify-content: center;
    align-items: center;

    
}
.content_block_reverse .right h2{
    font-size: 30px;
    margin-left: 30%;
    /* margin-top: 0; */
    white-space:inherit;
    width: 300px;

}

.content_block_reverse .right h6{
    padding-left: 10px;
    width: 450px;
    white-space:break-space;
}



footer{
    margin-top: 100px;
    height: fit-content;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.footer_img img {
    margin-right: 20px;
    height: 35px;
    width: 35px;
}